{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area style-three d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Details of Services</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href=""><span>Home</span> <span>Services</span> Wallet Connection</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<!--==================================================-->
<!-- Start cryptobit about Area -->
<!--==================================================-->
<div class="about-area style-three pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="dreamit-about-thumb wow fadeInLeft" data-wow-delay=".4s">
                    <img src="{% static 'assets/images/resource/details.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <div class="dreamit-section-title upper1 pb-5 wow fadeInLeft" data-wow-delay=".5s">
                    <h4>Connection</h4>
                    <h1 class="section-title">Wallet Connection</h1>
                    <p class="section-text1">Progressively predominate performance based internal or "orga sources before high standards in architectures. Interactively ini transparent functionalities via efficient ROI.</p>
                    <div class="about-check-text">
                        <p><span><i class="fas fa-check"></i></span> Prioritize the features your customers need</p>
                        <p><span><i class="fas fa-check"></i></span> Align Everyone around the Roadmap</p>
                        <p><span><i class="fas fa-check"></i></span> Uniquely Empower Parallel Total Talents</p>
                    </div>
                    <div class="call-do-button up">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit about Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area style-five pt-100 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                 <div class="dreamit-section-title upper1 text-center wow fadeInLeft" data-wow-delay=".5s">
                    <h4>Wallet Connection</h4>
                    <h1 class="section-title">How to Connect Wallet</h1>
                    <p class="section-text">Cryptocurrencies are used primarily outside existing banking and coin governmental institutions and are exchanged</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/service6.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Collect Currency</h3>
                            <p>Professionally engineer customized sce vis innovative interfaces. Synergisticall sustainable infomediaries via </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/service2.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Secure Payment</h3>
                            <p>Professionally engineer customized sce vis innovative interfaces. Synergisticall sustainable infomediaries via </p>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/service5.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Convert to Bitcoin</h3>
                            <p>Professionally engineer customized sce vis innovative interfaces. Synergisticall sustainable infomediaries via </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Cryptobit counter Area -->
<!--==================================================-->
<div class="benefit-area pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                 <div class="dreamit-section-title upper1 pb-70 text-center wow fadeInLeft" data-wow-delay=".3s">
                    <h4>Wallet Connection</h4>
                    <h1 class="section-title">Benefit of Wallet Connection</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="dreamit-benefit-single-box wow fadeInLeft" data-wow-delay=".4s">
                    <div class="dreamit-benefit-inner-box">
                        <div class="benefit-top-title">
                            <h4>Benefits of Token Holders</h4>
                        </div>
                        <div class="dreamit-single-thumb">
                            <img src="{% static 'assets/images/resource/benefit1.jpg' %}" alt="">
                        </div>
                        <div class="benefit-title">
                            <p>Progressively predominate performance based internal or "orgation <br> sources before high standards in architectures. </p>
                        </div>
                        <div class="about-check-text">
                            <p><span><i class="fas fa-check"></i></span> Prioritize the features your customers need</p>
                            <p><span><i class="fas fa-check"></i></span> Align Everyone around the Roadmap</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="dreamit-benefit-single-box wow fadeInLeft" data-wow-delay=".5s">
                    <div class="dreamit-benefit-inner-box">
                        <div class="benefit-top-title">
                            <h4>Token Creators Benefits</h4>
                        </div>
                        <div class="dreamit-single-thumb">
                            <img src="{% static 'assets/images/resource/benefit2.jpg' %}" alt="">
                        </div>
                        <div class="benefit-title">
                            <p>Progressively predominate performance based internal or "orgation <br> sources before high standards in architectures. </p>
                        </div>
                        <div class="about-check-text">
                            <p><span><i class="fas fa-check"></i></span> Prioritize the features your customers need</p>
                            <p><span><i class="fas fa-check"></i></span> Align Everyone around the Roadmap</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Cryptobit counter Area -->
<!--==================================================-->



{% endblock content %}