{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Services</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span> Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/service1.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a >Different Projects</a></h3>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/service2.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a >Secure Payment</a></h3>
                            <p></p>
                            
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="assets/images/resource/service3.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a >Make Money Faster</a></h3>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="assets/images/resource/service4.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a>Becoming With US</a></h3>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="assets/images/resource/service4.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a>News About Companies</a></h3>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="assets/images/resource/service4.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3><a>Easy to Use</a></h3>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->


<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area pt-100 pb-70">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-sm-12">
                 <div class="dreamit-section-title text-center up pb-5">
                    <h4>CIP Features</h4>
                    <h1>CIP Best <span>Features</span></h1>
                    <p class="section-text">CIP is made for the benefit of all groups that using the website</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon1.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>High Profits</h3>
                            <p>By investing in high-profit projects proposed by the used AI techniques, and helping the investor in choosing the highest value stocks.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon2.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Secure Payment</h3>
                            <p>By writing a smart contracts that bring together the investor and company, as it is only public for them.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon3.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                            <p>Making the content of the site available to those who did not register to us, obtaining information about how the site works.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper3 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon4.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>No Cost</h3>
                            <p>There is no cost when making investment operations, only the amount invested.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper4 wow fadeInLeft" data-wow-delay=".7s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon5.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Powerful Storage</h3>
                            <p>The ability to store large data, many of which are project and corporate data.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper5 wow fadeInLeft" data-wow-delay=".8s">
                    <div class="feature-box-inner">
                        <div class="feature-icon">
                            <img src="{% static 'assets/images/resource/icon6.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Safe and Secure</h3>
                            <p>Using the most secure technology Blockchain technology to maintain the user's confidence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->


{% endblock content %}