{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ===============//banner section start here \\================= -->
<div class="clearfix" style="clear: both"></div>

<div
  id="particles"
  class="pg-canvas"
  style="display: block"
  max-width="700"
  max-height="700"
>
  <div id="webcoderskull">
    <div class="hero-section">
      <div class="container">
        <br>
         <br>
         <br>
         <br>
        <div class="row ">
          
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="hero-content wow fadeInLeft" data-wow-delay=".4s">
              <div class="hero-title">
                <span>{{project.count}}</span>
                <h4>Different Projects</h4>
                <h1 class="hero-title">Crowd Investment</h1>
                <h1 class="hero">Platform</h1>
              </div>
              <div class="hero-title">
                <br >
              </div>

              <div class="hero-button">
                <a href="{% url 'projects:projects_page' %}">Start Invest</a>
              </div>
              
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="dreamit-hero-thumb wow fadeInLeft" data-wow-delay=".5s">
                <img
                  src="{% static 'assets/images/slider/Picture1.png' %}"
                  alt="" style=" max-width: 800px; max-height: 70%; " />

              <div class="hero-thumb-inner3 bounce-animate3">
                <img
                  src="{% static 'assets/images/slider/img3.png' %}"
                  alt=""
                />
              </div>
            </div>
            <br>
            <br>
            <br>
            
            <br>
            <br>
            <br>
          </div>
         
         <div class="container mx-auto">
            <div class="col-lg-10 col-md-6 col-sm-12 mx-auto">
        
                         <div class="dreamit-section-title upper1 pb-5 wow fadeInLeft mx-auto " data-wow-delay=".5s">
                           
                           
                            
                            <div class="blog-popular-text mx-auto" style="border-radius: 20px;">
                                
                                
                                <div class="blog-details-text mx-auto">
                                    <div class="row mx-auto">
                                        <div class="about-check-text col-lg-3 col-md-6 col-sm-12 mx-auto">
                                            <div class="blog-details-text mx-auto"style="text-align:center">
                                                <h6 >shareholders</h6>
                                                <br>
                                                <p style="font-family: sans-serif;font-style: normal;"> {{all_users.count}} </p>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="about-check-text col-lg-3 col-md-6 col-sm-12 mx-auto">
                                            <div class="blog-details-text mx-auto" style="text-align:center">
                                                <h6>Projects</h6>
                                                <br>
                                                <p style="font-family: sans-serif;font-style: normal;"> {{all_project.count}} </p>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="about-check-text col-lg-3 col-md-6 col-sm-12 mx-auto">
                                            <div class="blog-details-text mx-auto" style="text-align:center">
                                                <h6>funded companies</h6>
                                                <br>
                                                <p style="font-family: sans-serif;font-style: normal;"> {{all_company.count}} </p>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix" style="clear: both"></div>
<!-- ===============//banner section end here \\================= -->

<!--==================================================-->
<!-- Start cryptobit about Area -->
<!--==================================================-->
<div class="about-area pt-150 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="dreamit-about-thumb wow fadeInLeft" data-wow-delay=".4s">
          <img src="{% static 'assets/images/resource/about.png' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div
          class="dreamit-section-title pb-5 wow fadeInLeft"
          data-wow-delay=".5s" >
          <h4>What is Crowd Invest? </h4>
          <h1>We Built a Crowd investment Platform To Buy & Sell Shares</h1>
          <p class="section-text">
            Making collective investment available to all individuals, whether the individual is a company or a person who has his own project and is looking for investors in his project.
          </p>
          <p>
            Facilitating the process of searching for investors by presenting all projects in this site.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End cryptobit about Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="dreamit-section-title text-center up pb-5">
          <h4>Projects</h4>
          <h1>Coming Soon Projects</h1>
          <p class="section-text">
            Interested type of projects you will find here
          </p>
          <p class="section-text">
            <a href="{% url 'projects:projects_page' %}"
              >See more of our Projects</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for project in project %}
       {% if project.open_type == "Coming Soon" %}

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="dreamit-blog-box wow fadeInUp" data-wow-delay=".4s">
                <div class="blog-box-inner">
                  <div class="dreamit-blog-thumb">
                    <span
                      style="
                        position: absolute;
                        top: 8px;
                        left: 24px;
                        z-index: 1;
                        color: rgb(0, 189, 170);
                        line-height: 17px;
                        font-size: 15px;
                        font-weight: 700;
                        background: rgb(255, 255, 255);
                        border-radius: 4px;
                        padding: 8px;
                      "
                    >
                      {{project.open_type}}
                    </span>
                    {% if project.image.url != null %}
                    <img
                      src="{{project.image.url}}"
                      style="
                        object-fit: cover;
                        min-height: 250px;
                        height: 250px;
                        min-width: 100%;
                        max-width: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                      "
                    />
                    {% endif %}
                  </div>

                  <div
                    class="popular-blog-content"
                    style="
                      min-width: 100%;
                      border-top-left-radius: 10px;
                      border-top-right-radius: 10px;
                      background: rgb(106, 181, 144, 0.9);
                    "
                  >
                    <div class="blog-title" style="text-align: center">
                      <h2>
                        <a
                          >{% if project.company %} 
                          {{project.company}}
                          {% elif project.user_verf %} 
                          {{project.user_verf}} 
                          {% endif %}</a
                        >
                      </h2>
                    </div>
                    <div class="meta-blog">
                      <a
                        href="{% url 'projects:project_details' prject_url=project.title_url %}"
                        >{{project.title}}</a
                      >
                    </div>
                    <div class="blog-title">
                      <h2>
                        <a
                          href="{% url 'projects:project_details' prject_url=project.title_url %}"
                          >More Details</a
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      {% endif %} 
      {% endfor %}
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->
<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="dreamit-section-title text-center up">
          <h4>Projects</h4>
          <h1>Open Projects</h1>
          <p class="section-text">
            Interested type of projects you will find here
          </p>
          <p class="section-text">
            <a href="{% url 'projects:projects_page' %}"
              >See more of our Projects</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for project in project %}
       {% if project.open_type == "Open" %}

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="dreamit-blog-box wow fadeInUp" data-wow-delay=".4s">
          <div class="blog-box-inner">
            <div class="dreamit-blog-thumb">
              <span
                style="
                  position: absolute;
                  top: 8px;
                  left: 24px;
                  z-index: 1;
                  color: rgb(0, 189, 170);
                  line-height: 17px;
                  font-size: 15px;
                  font-weight: 700;
                  background: rgb(255, 255, 255);
                  border-radius: 4px;
                  padding: 8px;
                "
              >
                {{project.open_type}}
              </span>
              {% if project.image.url != null %}
              <img
                src="{{project.image.url}}"
                style="
                  object-fit: cover;
                  min-height: 250px;
                  height: 250px;
                  min-width: 100%;
                  max-width: 100%;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              />
              {% endif %}
            </div>

            <div
              class="popular-blog-content"
              style="
                min-width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background: rgb(106, 181, 144, 0.9);
              "
            >
              <div class="blog-title" style="text-align: center">
                <h2>
                  <a>
                    {% if project.company %} 
                    {{project.company}}
                    {% elif project.user_verf %} 
                    {{project.user_verf}}
                     {% endif %}</a
                  >
                </h2>
              </div>
              <div class="meta-blog">
                <a
                  href="{% url 'projects:project_details' prject_url=project.title_url %}"
                  >{{project.title}}</a
                >
              </div>
              <div class="blog-title">
                <h2>
                  <a
                    href="{% url 'projects:project_details' prject_url=project.title_url %}"
                    >More Details</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Cryptobit popular section Area -->
<!--==================================================-->
<div class="feature-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="dreamit-section-title text-center up pb-30">
        <h4>Blog</h4>
        <h1>Recent <span>Blog</span></h1>
        <p class="section-text">
          Cryptocurrencies are used primarily outside existing banking
          governmental institutions and exchanged
        </p>
        <p class="section-text">
          <a href="{% url 'blog:blog_page' %}">See more Posts in Our Blog</a>
        </p>
      </div>
    </div>
    <div class="row">
      {% for blog in blogs %}

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="dreamit-blog-box wow fadeInUp" data-wow-delay=".4s">
          <div class="blog-box-inner">
            <div class="dreamit-blog-thumb">
              <img
                src="{{blog.image.url}}"
                style="
                  object-fit: cover;
                  min-height: 250px;
                  height: 250px;
                  min-width: 100%;
                  max-width: 100%;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;                
                  

                "
              />
            </div>
            <div
              class="popular-blog-content"
              style="
                min-width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background: rgb(106, 181, 144, 0.9);
              "
            >
              <div class="meta-blog">
                <a href="#">{{blog.created_at|date:'d M o'}}</a>
              </div>
              <div class="blog-title">
                <h2>
                  <a
                    href="{% url 'blog:blogdetail_page' blog_url=blog.title_url %}"
                    >{{blog}}</a
                  >
                </h2>
              </div>
              <div class="blog-text">
                <p><a
                  href="{% url 'blog:blogdetail_page' blog_url=blog.title_url %}"
                  >Read More</a
                ></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End Cryptobit popular section Area -->
<!--==================================================-->

{% endblock content %}
