{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===============//breatcome area start here \\================= -->
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Advices</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span> Advices</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============//breatcome section end here \\================= -->

<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="dreamit-section-title text-center upper1 pb-30 ">
                   <h4>Investment Tips</h4>
                   <p class="section-text">We pick 10 investment tips for beginners</p>
               </div>
           </div>
       </div>
       <div class="col-lg-6 col-md-6 mx-auto">
        <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
            <div class="feature-box-inner">
                <div class="feature-icon1">
                    <p style="
                    font-size: xx-large;
                    color: white;
                    text-align: center;
                    font-family: 'Montserrat';
                    padding-top: 30px;
                    margin: auto; "></p>                        </div>
                <div class="feature-title">
                    <h3><a href="{% url 'advices:Trading_page' %}">Try Trading Bot</a></h3>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">1</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 1</a></h3>
                            <p>Buy the right investment </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">2</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 2</a></h3>
                            <p>Avoid individual stocks if you're a beginner</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">3</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 3</a></h3>
                            <p>Create a diversified portfolio
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">4</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 4</a></h3>
                            <p>Be prepared for a downturn </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">5</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 5</a></h3>
                            <p>Try a simulator before investing real money
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">6</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 6</a></h3>
                            <p>Start now
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">7</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 7</a></h3>
                            <p>Avoid short-term trading
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">8</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 8</a></h3>
                            <p>Keep investing over time 
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">9</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 9</a></h3>
                            <p>Stay committed to your long-term portfolio
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">10</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Tip 10</a></h3>
                            <p> Invest only in businesses you understand.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}