{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Market Trend</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href=""><span>Home</span> Market Trend</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<!-- ===============//table section start here \\=============== -->
<div class="feature-area pt-80 pb-80" id="table">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="dreamit-section-title  pb-3">
					<h1>Market <span>Trend</span></h1>
                    <p></p>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Apple</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/Apple3.png' %}" style="
                        max-width: 100%;
                        max-height: 100%;
                        
                    ">
                        </div>
                    
                </div>
            </div>
			<div class="col-lg-6 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Amazon</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/Amazon3.png' %}" style="
                        max-width: 100%;
                        max-height: 100%;
                        
                    ">
                        </div>
                    
                </div>
            </div>
			<div class="col-lg-6 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Google</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/Google3.png' %}" style="
                        max-width: 100%;
                        max-height: 100%;
                        
                    ">
                        </div>
                    
                </div>
            </div>

			<div class="col-lg-6 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Meta</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/Meta3.png' %}" style="
                        max-width: 100%;
                        max-height: 100%;
                        
                    ">
                        </div>
                    
                </div>
            </div>

			<div class="col-lg-6 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Netflix</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/Netflix3.png' %}" style="
                        max-width: 100%;
                        max-height: 100%;
                        
                    ">
                        </div>
                    
                </div>
            </div>


		</div>

	</div>
</div>
<!-- ===============//table section end here \\================== -->




{% endblock content %}