{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===============//breatcome area start here \\================= -->
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>How To Invest</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span> How to Invest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============//breatcome section end here \\================= -->
<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">1</p>                        </div>
                        <div class="feature-title">
                            <h3><a >First Step</a></h3>
                            <p>To begin investing, you have to open an account with your full information.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">2</p>                        </div>
                        <div class="feature-title">
                            <h3><a >Second Step</a></h3>
                            <p>After open your account you must addin your wallet with the balance.</p>
                            
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">3</p>
                        </div>
                        <div class="feature-title">
                            <h3><a >Third Step</a></h3>
                            <p>Browse the projects in our site to know more about projects and companies responsible for it.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <p style="
                            font-size: xx-large;
                            color: white;
                            text-align: center;
                            font-family: 'Montserrat';
                            padding-top: 30px;
                            margin: auto; ">4</p>                        </div>
                        <div class="feature-title">
                            <h3><a>Last Step</a></h3>
                            <p>Choose your project that you are interested in and click to "Invest" after that you will become investor.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}