{% extends "base_generic.html" %}

{% block body %}
  


  <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" style="text-align: center">
    <div class="row">

      <div class="col-lg-12 col-md-6 col-sm-12 " >
        <div class="pricing-single-box ">
            <!-- pricing top -->
            <div class="pricing-top-ber">
                <div class="pricing-head">
                    <div class="pricing-title">
                        <h3>Change Password</h3>
                    </div>
                </div>
            </div>
            <div class="pricing-items">
                <div class="pricing-items-title">
                    <h3></h3>
                    <p>Enter Your username and password </p>
                </div>
                <br>
                <div class="pricing-items-center">
                    <form method="POST" >
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-lg-12 col-sm-12">
                                <div class="from-box">
                                  <input type="password" name="password" placeholder="Please Enter Old Password" />
                                </div>                                    
                             
                            </div>
                            <div class="col-lg-12 col-sm-12">
                              <div class="from-box">
                                <input type="password" name="newpassword" placeholder="Please Enter New Password" />
                              </div>                                    
                              <div class="from-box" style="color:white;">
                                <p>* Your password can’t be too similar to your other personal information.</p>
                                <p>  * Your password must contain at least 8 characters.</p>
                                <p>  * Your password can’t be a commonly used password.</p>
                                <p>  * Your password can’t be entirely numeric.</p>
                              </div>
                          </div>
                          <div class="col-lg-12 col-sm-12">
                            <div class="from-box">
                              <input type="password" name="newpasswordconfirm" placeholder="New Password Confirmation" />
                            </div>                                    
                         
                        </div>
                            <div class="col-lg-6  col-md-6 col-sm-12">
                              <div class="from-box">
                                {{ form.password.label_tag }}
                                </div>
                                  <div class="from-box">
                                    {{ form.password }}
                                  </div>                              
                                      
                            </div>
                      </div>
                    
                </div>
            </div>
                <div class="pricing-boody">
                
                    <div class="pricing-button">
                        <a><input type="submit" value="Change Password" style="color: #fff; border: none; background: none" >
                          </a>
                    </div>
                    
                </div>
            </form>
            <br>
        </div>
      </div>


      
    </div>
  </div>
  
{% endblock %}


