{% extends "base_generic.html" %}
{% load static %}
{% block body %}
<div class="contact-form-area style-two pt-50 pb-50">
  <div class="container">
      <div class="row">
          
          
              <div class="col-lg-12 col-md-6 col-sm-12 " >
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>password changed!</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>The password has been changed!</p>
                        </div>
                        <br>
                        <div class="pricing-items-center">
                            
                        </div>
                    </div>
                        <div class="pricing-boody">
                        
                            <div class="pricing-button">
                              <p><a href="{% url 'login' %}">log in again?</a></p>
                            </div>
                            
                        </div>
                    
                    <br>
                </div>
              </div>


      </div>
  </div>
</div>




{% endblock %}

{% comment %} 
{% extends "base_generic.html" %}

{% block body %}
  <h1>The password has been changed!</h1>
  <p><a href="{% url 'login' %}">log in again?</a></p>
{% endblock %} {% endcomment %}