{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>User Project</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span></a>
                        <a href="{% url 'accounts:get_user_project' %}"><span>Projects</span></a>
                        <a>{{project}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<div class="contact-form-area style-two pt-100 pb-100">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12 pt-left ">
          <div class="pricing-single-box ">
              <!-- pricing top -->
              <div class="pricing-top-ber">
                  <div class="pricing-head">
                      <div class="pricing-title">
                          <h3>Edit Your Project</h3>
                      </div>
                  </div>
              </div>
              <div class="pricing-items">
                  
              </div>
              <br>
              <div class="pricing-items">
                  <div class="pricing-items-title">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
        
                      <div div class="row mx-auto">
                        <div class="col-lg-11 col-sm-12 mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: xxx-larg; text-align:left; padding-bottom: 10px;">
                            {{ projectform.title.label_tag }}
                                  
                                  </div>
                                    <div class="from-box">
                                      {{ projectform.title }}
                                    </div>
                        </div>
        
                        <div class="col-lg-11 col-sm-12 mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: xxx-larg; text-align:left; padding-bottom: 10px;">
                            {{ projectform.description.label_tag }}
                                  </div>
                                    <div class="from-box">
                                      {{ projectform.description }}
                                    </div>
                        </div>

                        <div class="col-lg-11 col-sm-12 mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: xxx-larg; text-align:left; padding-bottom: 10px;">
                            {{ projectform.goal.label_tag }}
                                  </div>
                                  
                                    <div class="from-box">
                                      {{ projectform.goal }}
                                    </div>
                                      
                        </div>

                        <div class="col-lg-11 col-sm-12 mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                            Minimum Investment :
                                        </div>
                                    <div class="from-box">
                                      {{ projectform.minimum_investment }}
                                    </div>
                        </div>
                        <div class="col-lg-11 col-sm-12 mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                            Open At :
                          </div>
  
                    <div class="from-box">{{ projectform.open_at }}</div>
                        </div>
                        <div class="col-lg-11 col-sm-12  mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                            Open Type :
                                    </div>
                                    
                                      <div class="from-box">
                                       
                                        {{ projectform.open_type }}
                                        
                                      </div>
                        </div>
                        <div class="col-lg-11 col-sm-12  mx-auto">
                          <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                            Category :
                                        </div>
                
                                  <div class="from-box">{{ projectform.category }}</div>
                        </div>
                      </div>
                      
                      <div class="col-lg-11 col-sm-12 mx-auto">
                        <div style="font-family: 'Montserrat'; color: white; text-align:left">
                          {{ projectform.image.label_tag }}
                        </div>
                              <div style="font-family: 'Montserrat'; color: white">
                                {{ projectform.image }}
                              </div>
                      </div>
                      
                  </div>
                  
              </div>
              
              <div class="pricing-boody">
                          
                <div class="pricing-button">
                    <a><input type="submit" value="Edit Project" 
                        style="color: #fff; border: none; background: none" /></a>
                </div>
                
            </div>
               </form>
               
          </div>
        </div>

      
      </div>
      </div> 
</div>
</div>

{% endblock content %}