{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===============//breatcome area start here \\================= -->
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Development Process</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span>Development Process</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============//breatcome section end here \\================= -->
<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dreamit-section-title up text-center pb-50">
                    
                    <h1>Our Development Process</h1>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>1</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/675.png' %}" style="
                        max-width: 30%;
                        max-height: 30%;
                        
                    ">
                        </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Business & technical analysis</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>We start by reviewing the technical and business perspectives of your blockchain projects and realize the purpose and specification of the wallet you need.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>2</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                           
                                <img src="{% static 'assets/images/resource/123.png' %}" style="
                                max-width: 30%;
                                max-height: 30%;
                                border-radius: 100%;
                            ">
                        </div>
                        
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Architecture design</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>During the architecture design of your wallet, we create the blueprint to define the interactions between frontend, backend, transaction, data storage and retrieval.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>3</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/99.png' %}" style="
                        max-width: 30%;
                        max-height: 30%;
                        
                    ">
                        </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Fidelity design</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>Next, we create a low-fidelity prototype to specify the wallet’s look through a rough outline of the UI/UX elements. On your validation, we create the high-fidelity design.</p>
                        </div>
                        
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/44.png' %}" style="
                        max-width: 30%;
                        max-height: 30%;
                        
                    ">
                        </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Smart contract development</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>To add functionalities to the wallet, such as bundle transactions, account recovery, transfer limits, and more, we develop smart contracts depending on your project specifications.</p>
                        </div>
                        
                    </div>
                    <br>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>5</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/78.png' %}" style="
                        max-width: 30%;
                        max-height: 30%;
                        
                    ">
                        </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Frontend-backend development</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>Our blockchain experts use programming languages like JavaScript, TypeScript, Go, Solidity, Node.js, Frameworks like Angular, React, React-Native, Ionic for frontend and backend development.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>6</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items-title">
                           
                        <img src="{% static 'assets/images/resource/99.png' %}" style="
                        max-width: 30%;
                        max-height: 30%;
                        
                    ">
                        </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3></h3>
                            <p>Deployment</p>
                        </div>
                        
                    </div> 
                    <div class="pricing-items-center">
                        <div class="pricing-items-title">
                            <p>After thorough testing of any bugs or omissions, we complete the final steps of wallet development and deploy it on the blockchain, making it available to the users.</p>
                        </div>
                        
                    </div>
                    <br>

                </div>
            </div>





        </div>
    </div>
</div>


{% endblock content %}