{% extends "base_comp_blog.html" %}
{% load static %}
{% block body %}

<div class="contact-form-area style-two">
  <div class="container">
     
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <div class="row">

              
              <div class="col-lg-12 col-md-6 col-sm-12 pt-left ">
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Add Your Post</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        
                    </div>
                    <br>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
              
                            <div div class="row">
                              <div class="col-lg-12 col-sm-12">
                                <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                                  {{ form.title.label_tag }}
                                  
                                  </div>
                                    <div class="from-box">
                                      {{ form.title }}
                                    </div>
                              </div>
              
                              <div class="col-lg-12 col-sm-12">
                                <div style="font-family: 'Montserrat'; font-size: xxx-larg; text-align:left; padding-bottom: 10px;">
                                  {{ form.description.label_tag }}
                                  </div>
                                    <div class="from-box">
                                      {{ form.description }}
                                    </div>
                              </div>
              
                              <div class="col-lg-12 col-sm-12">
                                <div style="font-family: 'Montserrat'; font-size: x-larg; text-align:left; padding-bottom: 10px; color:white">
                                  Category :
                                        </div>
                
                                  <div class="from-box">{{ form.category }}</div>
                              </div>
              
                              <div class="col-lg-12 col-sm-12">
                                <div style="font-family: 'Montserrat'; font-size: xxx-larg; text-align:left; padding-bottom: 10px;">
                                  {{ form.image.label_tag }}
                                    </div>
                                    <div style="font-family: 'Montserrat'; color: white">
                                      {{ form.image }}
                                    </div>
                              </div>
                              
                              
                            </div>
                        </div>
                        
                    </div>
                    
                      <div class="pricing-boody">
                                
                        <div class="pricing-button">
                            <a><input type="submit" value="Add Post" 
                                style="color: #fff; border: none; background: none" /></a>
                        </div>
                      
                      </div>
                     </form>
                     
                </div>
              </div>
    


            </div>
            </div> 
      
  </div>
</div>

{% endblock %}