{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>About Us</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href="{% url 'home:home_page' %}"><span>Home</span></a>
                        <a>About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<!--==================================================-->
<!-- Start cryptobit about Area -->
<!--==================================================-->
<div class="feature-area pt-90 pb-90" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="dreamit-about-thumb wow fadeInLeft" data-wow-delay=".4s">
                    <img src="{% static 'assets/images/resource/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <div class="dreamit-section-title upper1 pb-5 wow fadeInLeft" data-wow-delay=".5s">
                    <h4>About CIP?</h4>
                    <h1 class="section-title">We Built a Crowd investment Platform To Buy & Sell Shares</h1>
                    <p class="section-text1">In this site, we aim to address a number of legal and business concerns by providing a crowd investment platform using blockchain and offering users the ease of pre-seeding, seeding, investing, and trading stock.</p>
                    <div class="about-check-text">
                        <p><span><i class="fas fa-check"></i></span> Crypto Wallet to Save Your Money</p>
                        <p><span><i class="fas fa-check"></i></span> Advices For A Better Investment</p>
                        <p><span><i class="fas fa-check"></i></span> Different Category of Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit about Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start cryptobit brand Area -->
<!--==================================================-->
<div class="brand-area">
    <div class="container">
        <div class="row">
            <div class="brand-list owl-carousel">
                <div class="col-lg-12">
                    <div class="brand-single-box">
                        <div class="brand-thumb">
                            <img src="{% static 'assets/images/resource/brand1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-single-box">
                        <div class="brand-thumb">
                            <img src="{% static 'assets/images/resource/brand2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-single-box">
                        <div class="brand-thumb">
                            <img src="{% static 'assets/images/resource/brand3.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-single-box">
                        <div class="brand-thumb">
                            <img src="{% static 'assets/images/resource/brand4.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-single-box">
                        <div class="brand-thumb">
                            <img src="{% static 'assets/images/resource/brand5.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Cryptobit brand Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area style-three pt-90 ">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-sm-12">
                 <div class="dreamit-section-title text-center upper1 pb-30 ">
                    <h4>CIP Features</h4>
                    <h1 class="section-title">CIP Best <span>Features</span></h1>
                    <p class="section-text">CIP is made for the benefit of all groups that using the website </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/f-icon1.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>High Profits</h3>
                            <p>By investing in high-profit projects proposed by the used AI techniques, and helping the investor in choosing the highest value stocks.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/f-icon2.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Secure Payment</h3>
                            <p>By writing a smart contracts that bring together the investor and company, as it is only public for them, and is difficult to hacked by the hackers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="{% static 'assets/images/resource/f-icon3.png' %}" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                            <p>Making the content of the site available to those who did not register to us, obtaining information about how the site works and what it contains, then facilitating the account creation process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit feature Area -->
<!--==================================================-->



{% endblock content %}