{% extends 'base.html' %}
{% load static %}

{% block content %}




<!-- ===============//breatcome area start here \\================= -->
<div class="clearfix" style="clear: both;"></div>
<div class="breatcome-area style-two d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome-content text-center">
                    <div class="breatcome-title">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="breatcome-text">
                        <a href=""><span>Home</span> Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="clear: both;"></div>
<!-- ===============//breatcome section end here \\================= -->

<!--==================================================-->
<!-- Start cryptobit contact info Area -->
<!--==================================================-->
<div class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Location Address</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                           
                        </div>
                        
                    </div>
                    <div class="pricing-items-center">
                        <div class="contact-info-title">
                            <p>{{myinfo.place}}</p>
                        </div>
                    </div>
                    <br>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>Phone Calls</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                           
                        </div>
                        
                    </div>
                    <div class="pricing-items-center">
                        <div class="contact-info-title">
                            <p>{{myinfo.phone_number}}</p>
                        </div>
                    </div>
                    <br>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                    
                <div class="pricing-single-box ">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>E-Mail Address</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                           
                        </div>
                        
                    </div>
                    <div class="pricing-items-center">
                        <div class="contact-info-title">
                            <p>{{myinfo.email}}</p>
                        </div>
                    </div>
                    <br>
                    
                </div>
            </div>
           
            
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End cryptobit contact info Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Cryptobit contact Area -->
<!--==================================================-->
<div class="contact-form-area style-two pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="dreamit-section-title text-center upper1 pb-70">
                <h4>Contact Info</h4>
                <h1 class="section-title">Write Us Something</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contact-form-thumb wow fadeInRight" data-wow-delay=".4s">
                    <img src="{% static 'assets/images/resource/cartoon-bg.png' %}" alt="">
                    <div class="form-inner-thumb bounce-animate3">
                        <img src="{% static 'assets/images/resource/cartoon.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="contact-form-box wow fadeInLeft" data-wow-delay=".4s">
                         <div class="contact-form-title">
                            <h3>Get In Touch</h3>
                         </div> 
                        <form method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6  col-md-6 col-sm-12">
                                    <div class="from-box">
                                        <input type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-6  col-md-6 col-sm-12">
                                    <div class="from-box">
                                        <input type="email" name="email" placeholder="Enter E-Mail">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="from-box">
                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                    </div>                                  
                                </div>
                            </div>
                            <div class="from-box">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start Cryptobit contact Area -->
<!--==================================================-->


{% endblock content %}